@media only screen and (max-width: 768px){
    #main-nav .social {
        display: none;
    }
    #main-nav .container{
        grid-template-columns: 6fr  3fr;
    }
    #main-nav ul li{
        border: none;
        border-radius: 0;
        background-color: #333;
        height: 2px;
        width: .8rem;
        margin-top: .2rem;
        justify-content: end;
    }
    #main-nav ul li::before,
    #main-nav ul li::after{
        background-color: #333;
        height: 2px;
        width: .8rem;
        content: "";
        display: block;
    }
    #main-nav ul li::before{ transform: translateY(-.6rem);}
    #main-nav ul li::after{ transform: translateY(.5rem);}
    .current,
    .mb{
        display: none;
    }
    #home-article .article-container{
        grid-template-columns: repeat(2, 1fr);
    }
    #home-article .article-container > *:first-child,
    #home-article .article-container > *:last-child{
        grid-template-columns: 1fr;
        grid-column: 1;
    }
    .block-container{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .5rem;
    }
}
@media only screen and (max-width: 600px){
    #showcase .showcase-container,
    #home-article .article-container,
    #main-footer .footer-container{
        grid-template-columns: 1fr;
    }
    #main-footer .footer-container >*:last-child{
        grid-column: 1;
    }
    #main-footer .footer-container > *:first-child,
    #main-footer .footer-contaainer > *:nth-child(2) {
        border-bottom: #444 dotted 2px;
        padding-bottom: 1rem;
    }
    .page-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .page-container > *:first-child{
        grid-row: 1;
    }
    .block-container{
        grid-template-columns: 1fr;
    }
}